html{
	background-color:#fff
}
textarea,input[type="text"],input[type="password"],input[type="file"],input[type="button"],input[type="submit"],input[type="reset"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="url"],select{
	border-color:#dfdfdf;
	background-color:#fff
}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="file"]:focus,input[type="button"]:focus,input[type="submit"]:focus,input[type="reset"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="url"]:focus,select:focus{
	border-color:#bbb
}
code{
	background:#eaeaea
}
input[readonly]{
	background-color:#eee
}
body{
	color:#333
}
#menuback,#menu{background-color:#ececec;border-color:#ccc}
#menushadow,#menuback{background-image:url(menu-shadow.png);background-position:top right;background-repeat:repeat-y}

.widefat{
	border-color:#dfdfdf;
	background-color:#f9f9f9
}
.postbox h3,.widefat th,.widefat tfoot tr th, .postbox .h3multi{
	background-color:#f1f1f1;
	background:-ms-linear-gradient(top,#f9f9f9,#ececec);
	background:-webkit-linear-gradient(top,#f9f9f9,#ececec);
	background:-moz-linear-gradient(top,#f9f9f9,#ececec);
	background:linear-gradient(top,#f9f9f9,#ececec)
}
.postbox .h3multi h3 {
	background-color:transparent;
	background-image:none
}
.postbox .h3selected h3 {
	background-color:#f9f9f9;
	background:-ms-linear-gradient(top,#ececec,#f9f9f9);
	background:-webkit-linear-gradient(top,#ececec,#f9f9f9);
	background:-moz-linear-gradient(top,#ececec,#f9f9f9);
	background:linear-gradient(top,#ececec,#f9f9f9)	
}
.postbox h3, .postbox .h3multi
{
	border-bottom-color:#dfdfdf;
	text-shadow:#fff 0 1px 0;
	box-shadow:0 1px 0 #fff
}
.widefat tr:nth-child(odd), .alternate,.alt{
	background-color:#fcfcfc
}
.widefat tr:nth-child(even){
	background-color:#f9f9f9
}
#adminmenu div.wp-submenu, .highlight, .widefat tr.highlight{
	background-color:#fff;
}
div.error{
	background-color:#ffebe8;
	border-color:#c00
}
div.error a{
	color:#c00
}
input[type=button],input[type=submit]{
	border-color:#bbb;
	color:#464646
}
input[type=button]:hover,input[type=submit]:hover{
	color:#000;
	border-color:#666
}
input[type="submit"], input[type="reset"], input[type="button"]{
	background:#f2f2f2 url(white-grad.png) repeat-x scroll left top;
	text-shadow:rgba(255,255,255,1) 0 1px 0
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active{
	background:#eee url(white-grad-active.png) repeat-x scroll left top
}
input.button-primary,button.button-primary,a.button-primary{
	border-color:#298cba;
	font-weight:bold;
	color:#fff;
	background:#21759B url(button-grad.png) repeat-x scroll left top;
	text-shadow:rgba(0,0,0,.3) 0 -1px 0
}
input.button-primary:active,button.button-primary:active,a.button-primary:active{
	background:#21759b url(button-grad-active.png) repeat-x scroll left top;
	color:#eaf2fa
}
input.button-primary:hover,button.button-primary:hover,a.button-primary:hover,a.button-primary:focus,a.button-primary:active{
	border-color:#13455b;
	color:#eaf2fa
}
a:hover,a:active,a:focus{
	color:#d54e21
}
#adminmenu a:hover{
	color:#d54e21
}
div.updated{
	background-color:#ffffe0;
	border-color:#e6db55
}
.widefat td,.widefat th{
	border-top-color:#fff;
	border-bottom-color:#dfdfdf
}
.widefat th{
	text-shadow:rgba(255,255,255,.8) 0 1px 0
}
.widefat td{
	color:#555
}
.widefat p,.widefat ol,.widefat ul{
	color:#333
}
.widefat thead tr th,.widefat tfoot tr th{
	color:#333
}
a,#adminmenu a{
	color:#21759b
}
.postbox{
	border-color:#dfdfdf;
	box-shadow:inset 0 1px 0 #fff
}
.postbox{
	background-color:#f5f5f5;
}
.postbox h3{
	color:#464646
}
.postbox h3:hover{
	color:#000
}
#adminmenu{
	background-color:#ececec;
	border-color:#ccc
}
#adminmenu a.menu-top{
	border-top-color:#f9f9f9;
	border-bottom-color:#dfdfdf
}
#adminmenu .menu-top:hover,#adminmenu .menu-top:focus{
	background-color:#e4e4e4;
	text-shadow:0 1px 0 rgba(255,255,255,.4)
}
#adminmenu .wp-submenu a:hover,a#selectedMenuLink{
	background-color:#EAF2FA;
	color:#333
}

/*ajouts*/
.header2 {
	background-color:#f9f9f9;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #fff
}
#courses_div {
	background-color:white
}
fieldset {
	border-color:#dfdfdf
}
.bgcolor {
	background-color:#ececec
}
.legend-gray {
	color: gray
}
.legend-blue {
	color: blue
}
.legend-red {
	color: red
}

/*responsive tables*/
@media only screen and (max-width: 1023px) {
	.rt tr { border-right-color:#dfdfdf }
}
@media only screen and (max-width:640px){
	#adminmenu .wp-submenu a:hover{
		background-color:transparent;
		color:#21759b
	}
}