@import url("colors.css");
@import url("../../js/jscalendar/calendar-blue.css");

#wrap{
	height:auto;
	min-height:100%;
	width:100%;
	position:relative
}
#menuback,#menu{
	width:205px
}
#menuback{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:-1
}
#menuback,#menu{
	border-width:0 1px 0 0;
	border-style:solid
}
#menu{
	position:relative;
	float:left;
	overflow: visible;
}
#menushadow{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:6px;
	/*z-index:20*/
}
#body,#menu{
	margin-bottom:38px;
}
#footer{
	clear:both;
	position:fixed;
	z-index:99999;
	bottom:0;
	left:0;
	height:38px;
	width:100%
}
#footerwrap{
	height:32px;
	margin-top:3px;
	margin-bottom:3px;
	text-align:center
}
#footerhelp{
	display:none;
	height:140px;
	overflow-y:scroll;
	padding-left:8px
}
.mod{
	overflow:hidden
}
.mod:after{
	content:"";
	display:table;
	clear:both
}
input[type=text],input[type=password],textarea{
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
input[type=checkbox],input[type=radio]{
	margin-bottom:0;
	margin-right:0;
	vertical-align:text-bottom
}
input[type=number]{
	width:50px
}
html,body{
	height:100%;
	margin:0;
	padding:0
}
body{
	font-family:sans-serif;
	line-height:1.4em
}
*{
	font-size:14px
}
a{
	-webkit-transition:color 0.2s ease-out 0s;
	transition:color 0.2s ease-out 0s
}
iframe,img{
	border:0
}
td,textarea{
	line-height:inherit
}
input,select{
	line-height:1.2
}
select[multiple]{
	height:6em
}
a,input,select:focus{
	outline:0;
	text-decoration:none
}
#menu select{
	max-width:100%
}
blockquote,q{
	quotes:none
}
p{
	margin:1em 0
}
blockquote{
	margin:1em
}
label{
	cursor:pointer
}
legend{
	font-weight:bold
}
li,dd{
	margin-bottom:6px
}
textarea,input,select{
	margin:2px 1px;
	padding:2px
}
select{
	padding:0 2px;
	height:23px
}
h1,h2,h3,h4{
	display:block;
	font-weight:bold;
	line-height:1em
}
h1{
	font-size:2em;
	margin:.67em 0
}
h2,.subtitle{
	font-weight:normal;
	margin:0;
	text-shadow:#aaa 0 1px 1px
}
h2{
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	font-size:30px;
	padding:0 15px 14px 0;
}
h3{
	font-size:1.17em;
	margin:1em 0
}
h4{
	font-size:1em;
	margin:1.33em 0
}

/*ul,ol{
	padding:0
}
*/
ol{
	list-style-type:decimal;
	margin-left:2em
}
code{
	font-family:Consolas,Monaco,monospace;
	padding:1px 3px;
	margin:0 1px;
	font-size:11px
}
.widefat,div.updated,div.error,textarea,input[type=text],input[type=password],input[type=file],input[type=button],input[type=submit],input[type=reset],input[type=email],input[type=number],input[type=search],input[type=tel],input[type=url],select,.postbox{
	border-radius:3px;
	border-width:1px;
	border-style:solid
}
.widefat{
	clear:both;
	margin:0
}
.widefat *{
	word-wrap:break-word
}
.widefat a{
	text-decoration:none
}
.widefat thead th:first-of-type{
	border-top-left-radius:3px
}
.widefat thead th:last-of-type{
	border-top-right-radius:3px
}
.widefat tfoot th:first-of-type{
	border-bottom-left-radius:3px
}
.widefat tfoot th:last-of-type{
	border-bottom-right-radius:3px
}
/* listOutput sorting icon */
.widefat th a[href*="LO_direction"]:after{
	font-family: monospace;
	font-size: larger;
	line-height: 0.5em;
	content: "\0000a0";
	padding-left: 3px;
}
.widefat th a[href*="LO_direction=1"]:hover:after{
	content: "\25b4";
}
.widefat th a[href*="LO_direction=-1"]:hover:after{
	content: "\25be";
}
.widefat th a[href*="LO_sort=CHECKBOX"]:after{
	content: "";
	padding-left: 0;
}

.widefat td,.widefat th{
	text-align:left;
	border-width:1px 0;
	border-style:solid
}
.widefat tfoot th{
	border-bottom:none
}
.widefat td{
	padding:3px 7px;
	vertical-align:top
}
.widefat th{
	padding:6px 7px;
	line-height:1.3em;
}
div.error{
	padding:0 .6em;
	margin:5px 0
}
div.updated{
	padding:2px 9px;
	margin:5px 0
}
.postbox h3,.widefat th{
	font-family:Georgia,"Times New Roman",Times,serif
}
select option{
	padding:2px
}
input[type=submit],input[type=reset],input[type=button]{
	text-decoration:none;
	line-height:14px;
	padding:6px 10px;
	margin:0 8px;
	cursor:pointer;
	border-width:1px;
	border-style:solid;
	border-radius:11px;
	-ms-box-sizing:content-box;
	box-sizing:content-box
}
.button-primary{
	line-height:16px;
	white-space:nowrap;
	border-radius:10px
}
label{
	vertical-align:middle
}
.adminmenu,.wp-submenu{
	width:100%;
	list-style: outside none none;
}
.adminmenu{
	clear:left;
	margin:0;
	padding:0;
	padding-top:5px;
}
.adminmenu *,.widefat th{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	    user-select:none
}
.wp-submenu{
	top: -1000em;
	left: 0;
	position: absolute;
	padding:0;
	margin:0;
	overflow: hidden;
	-webkit-transition: 0s top, 0s left;
	transition: 0s top, 0s left;
	-webkit-transition-delay: .15s;
	transition-delay: .15s;
	border-width:1px;
	border-style:solid
}
.adminmenu li{
	margin-bottom: 0;
}
.menu-module{
	position: relative;
}
.no-touch .menu-module:hover .menu-top:after{
	content: "\276F";
	padding-top: 6px;
	position: absolute;
	right: 5px;
}
#selectedModuleLink:after{
	content: "";
}
.no-touch .menu-module:hover .wp-submenu{
	-webkit-transition-delay: .15s;
	transition-delay: .15s;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 205px;
	overflow: visible;
	word-wrap: break-word;
	min-height: 36px;
	min-width: 205px;
	width: auto;
}
#selectedModuleLink + .wp-submenu{
	transition-delay: 0s;
	z-index: 1;
	top: 0;
	left: 0;
	position: relative;
	margin-top: 0 !important;
	border:0
}
.menu-inter{
	border-width:1px 0 0;
	border-style:solid;
	padding: 2px 5px
}
.adminmenu a{
	display:block;
	line-height:18px;
	padding:2px 5px
}
.menu-top{
	font-weight:400;
	font-size:15px;
	min-width:10em;
	border-width:1px 0 1px;
	border-style:solid
}
.menu-top img{
	height:32px;
	vertical-align:middle
}
.wp-submenu a{
	margin:0
}
.current-person{
	padding:1px;
	margin-top:5px;
	font-weight:bold;
}
.widefat th,.widefat td{
	overflow:hidden
}
.widefat th{
	font-weight:normal
}
.widefat td p{
	margin:2px 0 .8em
}
.postbox{
	margin-bottom:20px;
	padding:0;
	line-height:1
}
.postbox h3{
	padding:6px 10px;
	border:0
}
.postbox .h3multi h3{
	display:inline-block;
	/* IE7 inline-block hack:*/
	zoom:1;
	*display:inline
}
.postbox h3,.postbox .h3multi{
	margin:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	    user-select:none
}
.postbox h3,.postbox h3 a{
	font-size:15px;
	font-weight:normal
}
.postbox .h3multi{
	border-bottom-width:1px;
	border-bottom-style:solid;
	width:100%;
	padding-left:0;
	padding-right:0;
	overflow-y:hidden
}
th a{
	display:block;
	overflow:hidden;
}
.postbox{
	margin: 0 auto;
	position:relative;
	min-width:255px
}
fieldset{
	border-width:1px;
	border-style:solid;
	margin:0
}
.error a{
	text-decoration:underline
}
.updated a{
	text-decoration:none;
	padding-bottom:2px
}
div.error p,div.updated p{
	margin:.2em 0;
	padding:2px
}
h3 span{
	font-weight:normal
}
.highlight{
	padding:3px 3px 3px 12px;
	margin-left:-12px;
	font-weight:bold;
	border:0 none
}

/*added*/
.hide{
	display:none
}
#studentImg, #userImg{
	max-width:150px;
	max-height:150px
}
.alignImg{
	vertical-align:middle;
	height:32px
}
.underline-dots .button{
	vertical-align:baseline;
	height:15px
}
#body{
	padding:0 15px 38px
}
.headerIcon{
	height:32px;
	vertical-align:bottom
}
.header2{
	padding:2px
}
.header2 table{
	line-height:1
}
#courses_div{
	position:absolute;
	border-style:solid;
	border-width:1px;
	padding:4px;
	right:0;
	display:none;
	max-height:80px;
	overflow:auto;
	width:98%
}
.size-3{
	font-size:11px
}
.size-1{
	font-size:13px
}
.sizep1{
	font-size:15px
}
.sizep2{
	font-size:16px
}
.underline-dots{
	border-bottom-style:dotted;
	border-bottom-width:1px
}
.underline-dots, .checkbox-label, .no-input-value{
	line-height:27px;
	margin:5px 0px
}
textarea{
	width: 100%;
	min-width: 280px;
}
.textarea.underline-dots{
	line-height:inherit;
	overflow:auto;
	max-height: 240px
}

/* MarkDown */
.md-preview > a{
	border-width:1px;
	border-bottom:0;
	border-style: solid;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	font-weight:bold;
	padding:5px 7px;
	margin-left:1px;
	line-height:27px
}
.md-preview > .disabled{
	pointer-events:none;
	cursor:default
}
.md-preview > div{
	display:none;
	border-top-width:1px;
	border-top-style:solid
}
.md-preview + textarea{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top:0
}

span.legend-gray, span.legend-red{
	margin-top:5px;
	margin-bottom:7px;
	display:block
}
.logo{
	max-width:150px;
	max-height:150px
}
#menu .logo{
	margin-top:4px
}
.onclick{
	cursor:pointer
}
.cellspacing-0{
	/*cellspacing="0"*/
	border-spacing:0
}
.width-100p{
	/*width="100%"*/
	width:100%
}
.cellpadding-5 td{
	padding-right:5px;
	padding-bottom:5px
}
td.popTable{
	padding:5px
}
td.valign-top,tr.valign-top,table.valign-top td{
	vertical-align:top
}
.align-right td{
	text-align:right
}
table.col1-align-right > tbody > tr > td:first-child{
	text-align:right;
	vertical-align:middle
}
.center{
	/*<CENTER> && <TD align="center">*/
	text-align:center
}
table.center{
	text-align:inherit;
	margin:0 auto
}
span.nobr{
	white-space:nowrap
}
div.nobr div{
	display:inline
}
span.center,
a.center{
	display:block
}
tr.address > td{
	border-style:none dotted none none;
	border:1;
	padding:0 12px 0 12px
}
.br-after{
	display:block
}

/*Honor Roll cliparts + frames*/
td.image-radio-list{
	height:160px;
	padding:0;
	margin:0;
	float:left;
	position:relative
}
label.image-radio-list{
	padding:0 20px
}
img.image-radio-list{
	vertical-align:top;
	max-width:150px;
	max-height:150px
}

/*buttons*/
.button{
	vertical-align:middle;
	height:18px
}
.button.bigger{
	height:24px
}
.button.smaller{
	height:14px
}
.button.cal{
	cursor:pointer;
	height:32px;
	margin-top:-9px
}
div.error .button, div.updated .button{
	height:32px
}

/*login form*/
form.login input[type=text],form.login input[type=password]{
	font-weight:200;
	font-size:20px;
	width:100%;
	padding:3px;
	margin-top:2px;
	margin-right:6px;
	background:#fbfbfb;
	outline:none;
	box-shadow:inset 1px 1px 2px rgba(200,200,200,.2)
}

/*bottom*/
.BottomButton{
	padding-top:10px;
}
.BottomButton{
	margin-right:8px;
}
.BottomButton img{
	height:32px
}
.BottomButton span{
	vertical-align:super
}
#BottomButtonMenu span{
	vertical-align:baseline
}
#BottomButtonMenu{
	float:left;
	padding:6px 0 6px 6px
}
#BottomButtonMenu:before{
	content:"\2261";
	font-size:3rem;
	font-weight:bold;
	vertical-align:top
}
.BottomButton.loading{
	float:right;
	padding-bottom:10px
}

/* Loading spinner */
.loading{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('spinning.gif') no-repeat center;
	visibility:hidden
}

/*bars*/
.bar{
	height:12px
}
.bar.relevance{
	background-color:gray
}
.divPortalPoll .bar{
	background-color:#cc4400
}

/*stackable tables*/
div.st{
	float:left;
	padding:4px
}

/*student comments*/
#student-comments{
	max-width:100%;
	width: 500px;
}
#student-comments span{
	font-style:italic
}
#student-comments div{
	padding:10px;
	margin-bottom:15px;
	border-bottom:1px solid
}

/*calendar*/
#calendar{
	margin:0 auto
}
#calendar > tbody > tr > td{
	width:126px
}
.calendar-day{
	height:inherit
}
.calendar-day td{
	line-height:1
}

/* colorBox */
#cboxLoadedContent{
	margin:1px;
	padding:5px !important
}

/*responsive tables*/
.rt .link2colorBox{
	display:none
}

/*portal polls*/
.divPortalPoll{
	max-height:350px;
	overflow-y:auto;
	min-width: 300px
}

/*arrows*/
.switchMenu:before{
	content: "\25b6\0000a0";
}
.switchMenu.switched:before{
	content: "\25bc\0000a0";
}

/*jqplot charts*/
#chart{
	margin-top:20px;
	margin-left:20px;
	width:600px;
	height:480px
}

/*tinymce*/
table.mceLayout,textarea.tinymce{
	/*cols="97" rows="27"*/
	width:708px;
	height:475px
}

/*tipmessage (DO NOT EDIT)*/
#tipMsg{
	visibility:hidden;
	position:absolute;
	z-index:1000;
	top:-100px;
	max-width:300px
}

/*mobile*/
@media only screen and (max-width:640px){
	/*quick smartphone reset*/
	.mod{
		float:none !important;
		clear:none !important;
		width:auto !important;
		margin-left:0 !important;
		margin-right:0 !important;
		position:relative !important;
		border:0
	}
	#menu .logo{
		max-width:130px;
		margin:2px;
		max-height:130px;
		float:right
	}
	#menu,#body{
		margin-bottom:0
	}
	.adminmenu a.menu-top{
		padding:4px
	}
	.menu-top img{
		height:24px
	}
	.no-touch .menu-module:hover .menu-top:after{
		content: "";
	}
	.no-touch .menu-module:hover .wp-submenu{
		top: -1000em;
	}
	#body{
		padding:0 2px
	}
	h2{
		font-size:20px;
		padding:0 8px 7px 0;
		line-height:20px
	}
	.BottomButton span{
		display:none
	}
	#search input,#search select,input[id=USERNAME],input[id=PASSWORD],#LO_search{
		max-width:150px
	}
	#modulesBody textarea{
		width:100% !important
	}
	td.popTable{
		padding:2px
	}
	tr.address > td{
		border-style:none none dotted none;
		padding:12px 0 12px 0
	}
	#chart,.chart{
		margin-top:0;
		margin-left:0;
		width:300px;
		height:240px
	}
	input[type=submit],input[type=reset],input[type=button]{
		margin:0 4px;
		max-width:100%
	}
	input[id^=ML_]{
		width:100%
	}

	/*stackable tables*/
	tr.st > td{
		float:left;
		width:100%;
		box-sizing: border-box
	}
	table.col1-align-right > tbody > tr.st > td:first-child{
		text-align:left
	}
	.divPortalPoll{
		min-width: 0
	}
}

@media only screen and (max-width:1023px){
	/*responsive tables*/
	.rt{
		display:block;
		position:relative;
		width:100%
	}
	.rt thead{
		display:block;
		float:left;
		max-width:130px;
	}
	.rt tbody{
		display:block;
		width:auto;
		position:relative;
		overflow-x:auto;
		white-space:nowrap
	}
	.rt thead tr{
		display:block
	}
	.rt th{
		display:block;
		padding:4px 7px 2px;
		line-height:2em;
		height:2em
	}
	.rt tbody tr{
		display:inline-block;
		vertical-align:top
	}
	.rt td{
		display:block;
		line-height:2em;
		height:2em
	}
	.rt img{
		max-height:2em
	}
	.rt input,.rt select{
		margin:0
	}
	.rt tr{
		border-right-width:1px;
		border-right-style:solid
	}

	/*rt td too large*/
	.rt input,.rt select,.rt textarea{
		max-width:150px
	}
	.rt .link2colorBox{
		display:inline
	}
	.rt .link2colorBox + .rt2colorBox{
		display:none
	}
	.rt2colorBox{
		overflow:auto
	}
	.rt div.error, .rt div.updated{
		padding:0;
		margin:0
	}

	.divPortalPoll{
		max-height:none;
		overflow-y:visible
	}

	/*calendar*/
	#calendar{
		margin:0 0
	}
	#calendar > thead > tr > th > span{
		display:none
	}
	#calendar > tbody > tr > td{
		width:32px
	}
	.calendar-day{
		display:block;
		height:32px;
		width:inherit;
		overflow:hidden;
		z-index:1
	}
	.calendar-day.hover:hover{
		height:auto;
		width:126px;
		z-index:100;
		position:absolute;
		background-color:inherit
	}
	.calendar-day-bold{
		font-weight:bold
	}
	.calendar-skip{
		height:32px;
	}

	/*jscalendar+colorbox*/
	.calendar{
		z-index:10000
	}
	table.mceLayout{
		width:90% !important
	}
}
