/* Open Sans */

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/Regular.woff') format('woff'), url('fonts/opensans/Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/Italic.woff') format('woff'), url('fonts/opensans/Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/BoldItalic.woff') format('woff'), url('fonts/opensans/BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/Bold.woff') format('woff'), url('fonts/opensans/Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/*@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/ExtraBoldItalic.woff') format('woff'),
		 url('fonts/opensans/ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/ExtraBold.woff') format('woff'),
		 url('fonts/opensans/ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/LightItalic.woff') format('woff'),
		 url('fonts/opensans/LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/Light.woff') format('woff'),
		 url('fonts/opensans/Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/SemiboldItalic.woff') format('woff'),
		 url('fonts/opensans/SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans/Semibold.woff') format('woff'),
		 url('fonts/opensans/Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}*/
